
        #main-div{
            background-color:darkgrey;
            width:28%;
            margin:auto;
        
        }
        .textbox{
            font-size:20px;
            width:210px;
            margin-left: 20px;
        }
        label{
            font-size:22px;
            color:cornsilk;
            margin-left: 10px;
        }
        h2{
            text-align: center;
            color:cyan;
        }
        button{
            width:100px;
            height: 32px;
            background-color: blue;
            font-size: 20px;
            border: none;
            color: azure;
            margin-left: 130px;

        }
        button:hover{
            background-color: crimson;
        }
